/* Marker */
.div-marker {
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 0 0) 2px 2px 4px;
}

.div-marker.red {
  background-color: #e04844;
  width: 32px !important;
  height: 32px !important;
}

.div-marker.orange {
  background-color: #fa974b;
  width: 28px !important;
  height: 28px !important;
}

.div-marker.yellow {
  background-color: #f4d54a;
  width: 26px !important;
  height: 26px !important;
}

.div-marker span {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
}

/* Popup */
.leaflet-popup-content {
  width: 375px !important;
}
.popup-information {
  font-size: 1rem;
  text-align: center;
}

.popup-information p {
  margin: 1rem 0;
}

.popup-information table {
  border-collapse: collapse;
  width: 100%;
}

.popup-information td,
th {
  text-align: left;
  padding: 8px;
  text-align: center;
}

.popup-information tr:nth-child(even) {
  background-color: #dddddd;
}

.header-popup {
  background-color: #dddddd;
  font-size: 1.2rem;
  padding: 0.5rem;
}

/* Menu Search */
.menu-search {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.menu-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}
